body{
  background-color: #abf0e9;

}
h1{
  color: #127681;

}
h3{
  color: #127681;
}
hr{

  background-color: white;
  background: #abf0e9;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 5%;
}
